Repository containers/toolbox: changes, and which Zuul jobs are due for each by the changed paths.
All: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

unit-test:
  description: Run Toolbox's unit tests declared in Meson
  timeout: 600
  nodeset:
    nodes:
    - name: ci-node-34
      label: cloud-fedora-34-small
  pre-run: playbooks/setup-env.yaml
  run: playbooks/unit-test.yaml

system-test-fedora-rawhide:
  description: Run Toolbox's system tests in Fedora Rawhide
  timeout: 2700
  nodeset:
    nodes:
    - name: ci-node-rawhide
      label: cloud-fedora-rawhide-small
  pre-run: playbooks/setup-env.yaml
  run: playbooks/system-test.yaml

system-test-fedora-35:
  description: Run Toolbox's system tests in Fedora 35
  timeout: 1200
  nodeset:
    nodes:
    - name: ci-node-35
      label: cloud-fedora-35-small
  pre-run: playbooks/setup-env.yaml
  run: playbooks/system-test.yaml

system-test-fedora-34:
  description: Run Toolbox's system tests in Fedora 34
  timeout: 1200
  nodeset:
    nodes:
    - name: ci-node-34
      label: cloud-fedora-34-small
  pre-run: playbooks/setup-env.yaml
  run: playbooks/system-test.yaml

.zuul: Style fixes
  .zuul.yaml
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

man: toolbox-create distro broken
  doc/toolbox-create.1.md
Due: none

CONTRIBUTING: Custom graphic
  CONTRIBUTING.md
  data/gfx/CONTRIBUTING.gif
  data/gfx/README.gif
  data/gfx/powerup.gif
Due: system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

pkg/utils: Use new UBI toolbox image
  src/pkg/utils/utils.go
  test/system/libs/helpers.bash
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

ci: Add golangci linter
  .github/workflows/linting.yaml
Due: none

ci: Remove only-new-issues option from linter run
  .github/workflows/linting.yaml
Due: none

cmd: Fix issues raised by Golangci
  src/cmd/create.go
  src/cmd/initContainer.go
  src/cmd/run.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

ci: Build & Publish Fedora Toolbx images with GitHub Packages
  .github/workflows/image-factory.yaml
Due: none

pkg/utils: Check values set in a configuration file
  src/pkg/utils/utils.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

ci: Add manual trigger to image factory pipeline
  .github/workflows/image-factory.yaml
Due: none

ci: Set full path to Containerfile
  .github/workflows/image-factory.yaml
Due: none

build: Call 'systemd-tmpfiles --create' when installing
  meson.build
  meson_post_install.py
  playbooks/setup-env.yaml
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

build: Mark golang.org/x/term as a direct dependency
  src/go.mod
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

build: Tidy up the Go dependencies with 'go mod tidy'
  src/go.mod
  src/go.sum
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

.zuul: Re-align
  .zuul.yaml
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

.zuul: Trigger the tests when the post-install script changes
  .zuul.yaml
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

build: Add copyright and license notice
  meson_post_install.py
Due: none

build: Enforce gofmt on all Go sources
  src/meson.build
  src/meson_go_fmt.py
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

README: Flip the graphic's facing direction for better layout
  data/gfx/README.gif
Due: system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

doc: Highlight that --distro has to be used with --release
  doc/toolbox-create.1.md
  doc/toolbox-enter.1.md
  doc/toolbox-run.1.md
Due: none

doc/toolbox: Add section about supported distribution images
  doc/toolbox.1.md
Due: none

Move `NAME` and `VERSION` from ENV to ARG statement in Containerfiles
  images/fedora/f32/Containerfile
  images/fedora/f33/Containerfile
  images/fedora/f34/Containerfile
  images/fedora/f35/Containerfile
  images/fedora/f36/Containerfile
Due: none

Canonicalize Ondra's name
  .mailmap
Due: none

pkg/utils: find the runtime directory with missing XDG_RUNTIME_DIR
  src/pkg/utils/utils.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

feat: allow custom hostnames for new containers
  src/cmd/create.go
  src/cmd/run.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

test: add tests for `toolbox create --hostname ??`
  test/system/101-create.bats
Due: none

doc: cover new `toolbox create --hostname` flag
  doc/toolbox-create.1.md
Due: none

profile.d: Add "istoolbx" alias
  profile.d/toolbox.sh
Due: system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

test/system: Delete .swp file
  test/system/libs/.helpers.bash.swp
Due: none

pkg/utils: Use global default instead of magic value
  src/pkg/utils/utils.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

cmd, pkg/utils: Split distro and release parsing and report better errors
  src/cmd/create.go
  src/cmd/enter.go
  src/cmd/run.go
  src/cmd/utils.go
  src/pkg/utils/utils.go
  src/pkg/utils/utils_test.go
  test/system/101-create.bats
  test/system/104-run.bats
  test/system/105-enter.bats
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

Path conditions:
  unit-test: any of: playbooks/*, src/*, meson.build, meson_options.txt, .zuul.yaml
  system-test-fedora-rawhide: any of: data/*, playbooks/*, profile.d/*, src/*, meson.build, meson_options.txt, .zuul.yaml
  system-test-fedora-35: any of: data/*, playbooks/*, profile.d/*, src/*, meson.build, meson_options.txt, .zuul.yaml
  system-test-fedora-34: any of: data/*, playbooks/*, profile.d/*, src/*, meson.build, meson_options.txt, .zuul.yaml
