Repository containers/toolbox: changes, and which Zuul jobs are due for each by the changed paths.
All: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

unit-test:
  description: Run Toolbox's unit tests declared in Meson
  timeout: 600
  nodeset:
    nodes:
    - name: ci-node-34
      label: cloud-fedora-34
  pre-run: playbooks/setup-env.yaml
  run: playbooks/unit-test.yaml

system-test-fedora-rawhide:
  description: Run Toolbox's system tests in Fedora Rawhide
  timeout: 2700
  nodeset:
    nodes:
    - name: ci-node-rawhide
      label: cloud-fedora-rawhide
  pre-run: playbooks/setup-env.yaml
  run: playbooks/system-test.yaml

system-test-fedora-35:
  description: Run Toolbox's system tests in Fedora 35
  timeout: 1200
  nodeset:
    nodes:
    - name: ci-node-35
      label: cloud-fedora-35
  pre-run: playbooks/setup-env.yaml
  run: playbooks/system-test.yaml

system-test-fedora-34:
  description: Run Toolbox's system tests in Fedora 34
  timeout: 1200
  nodeset:
    nodes:
    - name: ci-node-34
      label: cloud-fedora-34
  pre-run: playbooks/setup-env.yaml
  run: playbooks/system-test.yaml

ci: Enable testing on Fedora 36
  .zuul.yaml
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

Images: Create F37 toolbox image from F36
  images/fedora/f37/Containerfile
  images/fedora/f37/README.md
  images/fedora/f37/extra-packages
  images/fedora/f37/missing-docs
Due: none

build: Don't use deprecated features
  completion/meson.build
Due: none

src: Make unit test depend on the Toolbx binary
  src/meson.build
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

test/binary: Add tests for the Toolbx binary
  meson.build
  src/go-build-wrapper
  test/binary/README.md
  test/binary/binary_test.go
  test/binary/go.mod
  test/binary/go.sum
  test/binary/meson.build
  test/meson.build
  test/system/meson.build
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

src: Port go-build-wrapper from Shell to Python
  src/go-build-wrapper
  src/go-build-wrapper.py
  src/meson.build
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

src: Support passing of Go build options
  meson_options.txt
  src/go-build-wrapper.py
  src/meson.build
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

feat: allow user to disable automatic toolbox entry
  src/cmd/enter.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

cmd/list: add option to display container/image size
  src/cmd/list.go
  src/pkg/utils/utils.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

docs: update docs with size option
  doc/toolbox-list.1.md
Due: none

Add option to skip postinst
  meson.build
  meson_options.txt
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

Extend toolbox command to accept custom hostnames while keeping default behavior
  src/cmd/create.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

cmd/completion: Add prefix to command to hide it better
  completion/generate_completions.py
  src/cmd/completion.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

pkg/utils: Connect stderr when running Toolbx through flatpak-spawn
  src/pkg/utils/utils.go
  test/system/104-run.bats
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

cmd: Propage return codes when forwarding to Toolbx on the host
  src/cmd/create.go
  src/cmd/enter.go
  src/cmd/help.go
  src/cmd/list.go
  src/cmd/rm.go
  src/cmd/rmi.go
  src/cmd/rootMigrationPath.go
  src/cmd/run.go
  test/system/104-run.bats
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

test/system: Don't redirrect logs to /dev/null
  test/system/libs/helpers.bash
Due: system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

Adding functionality allowing custom hostnames in toolbox
  src/cmd/create.go
  src/cmd/run.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

cmd/enter: Allow to opt out of terminal container tracking (`--once`)
  doc/toolbox-enter.1.md
  src/cmd/enter.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

cmd/create: Use container name as container hostname
  src/cmd/create.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

test/system: Drop extra pull when caching images
  test/system/libs/helpers.bash
Due: system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

src: Run 'go test' unit tests with LC_ALL=C
  src/meson.build
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

.zuul: Drop testing on Fedora 34
  .zuul.yaml
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

test/system: Silence warning with Bats >= 1.7.0
  test/system/104-run.bats
Due: system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

Updated files
  GOALS.md
  README.md
  Today.txt
Due: none

.mailmap: Canonicalize my email
  .mailmap
Due: none

images: add `findutils` and `sudo` to missing docs for f36+
  images/fedora/f36/missing-docs
  images/fedora/f37/missing-docs
Due: none

updates welcome message to remove formatted link
  profile.d/toolbox.sh
Due: system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

test/system: Fix typo
  test/system/104-run.bats
Due: system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

update doc for list command to include changes
  doc/toolbox-list.1.md
Due: none

updated listOutput to be clean and simple
  src/cmd/list.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

adds --details flag to toolbox list and updates formatting
  src/cmd/list.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

updated output of list and list --detailed
  src/cmd/list.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

cmd: Refactor common code into a function
  src/cmd/create.go
  src/cmd/enter.go
  src/cmd/run.go
  src/cmd/utils.go
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

Revert "build: Drop ShellCheck on Shell Toolbox"
  meson.build
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

Link to the installation guide from the shell Toolbox
  toolbox
Due: none

playbooks: Split out the dependencies into a separate file
  playbooks/dependencies.yaml
  playbooks/setup-env.yaml
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

playbooks: Split out the post-configuration steps into a separate file
  playbooks/build.yaml
  playbooks/setup-env.yaml
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

.zuul, playbooks: Run unit tests on -Dmigration_path_for_coreos_toolbox
  .zuul.yaml
  playbooks/setup-env-migration-path-for-coreos-toolbox.yaml
Due: unit-test, system-test-fedora-rawhide, system-test-fedora-35, system-test-fedora-34

Path conditions:
  unit-test: any of: playbooks/*, src/*, meson.build, meson_options.txt, meson_post_install.py, .zuul.yaml
  system-test-fedora-rawhide: any of: data/*, playbooks/*, profile.d/*, src/*, test/*, meson.build, meson_options.txt, meson_post_install.py, .zuul.yaml
  system-test-fedora-35: any of: data/*, playbooks/*, profile.d/*, src/*, test/*, meson.build, meson_options.txt, meson_post_install.py, .zuul.yaml
  system-test-fedora-34: any of: data/*, playbooks/*, profile.d/*, src/*, test/*, meson.build, meson_options.txt, meson_post_install.py, .zuul.yaml
