Repository containers/toolbox: changes, and which Zuul jobs are due for each by the changed paths.
All: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

unit-test:
  description: Run Toolbox's unit tests declared in Meson
  timeout: 600
  nodeset:
    nodes:
    - name: ci-node-36
      label: cloud-fedora-36
  pre-run: playbooks/setup-env.yaml
  run: playbooks/unit-test.yaml

system-test-fedora-35:
  description: Run Toolbox's system tests in Fedora 35
  timeout: 1200
  nodeset:
    nodes:
    - name: ci-node-35
      label: cloud-fedora-35
  pre-run: playbooks/setup-env.yaml
  run: playbooks/system-test.yaml

system-test-fedora-rawhide:
  description: Run Toolbox's system tests in Fedora Rawhide
  timeout: 2700
  nodeset:
    nodes:
    - name: ci-node-rawhide
      label: cloud-fedora-rawhide
  pre-run: playbooks/setup-env.yaml
  run: playbooks/system-test.yaml

system-test-fedora-36:
  description: Run Toolbx's system tests in Fedora 36
  timeout: 1200
  nodeset:
    nodes:
    - name: ci-node-36
      label: cloud-fedora-36
  pre-run: playbooks/setup-env.yaml
  run: playbooks/system-test.yaml

test/system: Ensure that 'toolbox run --preserve-fds ...' works
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

src,test/system: Respect configuration file in system tests
  src/cmd/test.go
  src/meson.build
  test/system/000-setup.bats
  test/system/102-list.bats
  test/system/103-container.bats
  test/system/104-run.bats
  test/system/105-enter.bats
  test/system/libs/helpers.bash
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

playbooks: Highlight failures from 'meson compile' and 'meson install'
  playbooks/dependencies.yaml
  playbooks/setup-env-migration-path-for-coreos-toolbox.yaml
  playbooks/setup-env.yaml
  playbooks/system-test.yaml
  playbooks/unit-test.yaml
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

playbooks/dependencies: Improve the names of the tasks
  playbooks/dependencies.yaml
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Ensure that error messages go to the standard error stream
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Check the line count in the standard error & output streams
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Remove redundant assertion
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Simplify the exit code checks by relying on Bats >= 1.5.0
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Order the tests by increasing order of the exit code
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Shorten the names of the tests and use consistent wording
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Use long options, instead of their shorter aliases
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Ensure that 'toolbox run false' has exit code 1
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Ensure that the right containers are run
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Ensure that /run/.containerenv and /run/.toolboxenv exist
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

cmd/create: Fix typo
  src/cmd/create.go
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

cmd/completion: Use RunE instead of Run as elsewhere
  src/cmd/completion.go
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Be more strict when checking the version
  test/system/001-version.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Test 'completion'
  test/system/108-completion.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

cmd/completion: Style fixes
  src/cmd/completion.go
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

Fix spelling mistakes using codespell
  CONTRIBUTING.md
  doc/toolbox-rm.1.md
  doc/toolbox-rmi.1.md
  src/cmd/initContainer.go
  test/system/105-enter.bats
  test/system/libs/helpers.bash
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

build: add dynamic linker option for riscv64
  src/meson.build
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

profile.d: Hide the Fedora-specific welcome on non-Fedora containers
  profile.d/toolbox.sh
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

.zuul: Trigger ShellCheck when profile.d/toolbox.sh changes
  .zuul.yaml
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

profile.d: Give precedence to /etc/os-release over /usr/lib/os-release
  profile.d/toolbox.sh
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

Revert ".zuul: Run tests only for relevant files"
  .zuul.yaml
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

playbooks: Build the shell completions for fish
  playbooks/dependencies.yaml
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

playbooks: Don't worry about runc(8)
  playbooks/dependencies.yaml
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

build, playbooks: Add a test that runs codespell
  .codespellexcludefile
  meson.build
  playbooks/dependencies.yaml
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

playbooks: Remove unnecessary parameter
  playbooks/dependencies.yaml
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

profile.d: Avoid a TOCTOU race
  profile.d/toolbox.sh
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

profile.d: Style fix
  profile.d/toolbox.sh
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

profile.d: Don't leak ID and VARIANT_ID into the shell
  profile.d/toolbox.sh
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

profile.d: Fix bad variable substitution
  profile.d/toolbox.sh
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

Default pretty name
  profile.d/toolbox.sh
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

profile.d: Restore compatibility with Z shell
  profile.d/toolbox.sh
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

Update copyright notices
  NEWS
  gen-docs-list
  src/cmd/create.go
  src/cmd/enter.go
  src/cmd/help.go
  src/cmd/initContainer.go
  src/cmd/rm.go
  src/cmd/rmi.go
  src/cmd/root.go
  src/cmd/rootDefault.go
  src/cmd/rootMigrationPath.go
  src/cmd/utils.go
  src/pkg/podman/podman.go
  src/pkg/shell/shell.go
  src/pkg/utils/utils.go
  src/pkg/utils/utils_test.go
  src/pkg/version/version.go
  src/toolbox.go
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

.zuul, playbooks: Add copyright and license notices
  .zuul.yaml
  playbooks/build.yaml
  playbooks/dependencies.yaml
  playbooks/setup-env-migration-path-for-coreos-toolbox.yaml
  playbooks/setup-env.yaml
  playbooks/system-test.yaml
  playbooks/unit-test.yaml
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Add copyright and license notices
  test/system/000-setup.bats
  test/system/001-version.bats
  test/system/002-help.bats
  test/system/101-create.bats
  test/system/102-list.bats
  test/system/103-container.bats
  test/system/104-run.bats
  test/system/105-enter.bats
  test/system/106-rm.bats
  test/system/107-rmi.bats
  test/system/108-completion.bats
  test/system/999-teardown.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

README.md: Remove trailing newline
  README.md
Due: none

README.md: Tweak
  README.md
Due: none

Path conditions:
  unit-test: any of: playbooks/*, src/*, meson.build, meson_options.txt, meson_post_install.py, .zuul.yaml
  system-test-fedora-35: any of: data/*, playbooks/*, profile.d/*, src/*, test/*, meson.build, meson_options.txt, meson_post_install.py, .zuul.yaml
  system-test-fedora-rawhide: any of: data/*, playbooks/*, profile.d/*, src/*, test/*, meson.build, meson_options.txt, meson_post_install.py, .zuul.yaml
  system-test-fedora-36: any of: data/*, playbooks/*, profile.d/*, src/*, test/*, meson.build, meson_options.txt, meson_post_install.py, .zuul.yaml
