Repository containers/toolbox: changes, and which Zuul jobs are due for each by the changed paths.
All: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

unit-test:
  description: Run Toolbox's unit tests declared in Meson
  timeout: 600
  nodeset:
    nodes:
    - name: ci-node-36
      label: cloud-fedora-36
  pre-run: playbooks/setup-env.yaml
  run: playbooks/unit-test.yaml

system-test-fedora-35:
  description: Run Toolbox's system tests in Fedora 35
  timeout: 1200
  nodeset:
    nodes:
    - name: ci-node-35
      label: cloud-fedora-35
  pre-run: playbooks/setup-env.yaml
  run: playbooks/system-test.yaml

system-test-fedora-rawhide:
  description: Run Toolbox's system tests in Fedora Rawhide
  timeout: 2700
  nodeset:
    nodes:
    - name: ci-node-rawhide
      label: cloud-fedora-rawhide
  pre-run: playbooks/setup-env.yaml
  run: playbooks/system-test.yaml

system-test-fedora-36:
  description: Run Toolbx's system tests in Fedora 36
  timeout: 1200
  nodeset:
    nodes:
    - name: ci-node-36
      label: cloud-fedora-36
  pre-run: playbooks/setup-env.yaml
  run: playbooks/system-test.yaml

Added directory for f38 image
  images/fedora/f38/Containerfile
  images/fedora/f38/README.md
  images/fedora/f38/extra-packages
  images/fedora/f38/missing-docs
Due: none

test/system: Drop extra pull when caching images
  test/system/libs/helpers.bash
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

Add package glibc-all-langpacks to f37 and f38
  images/fedora/f37/extra-packages
  images/fedora/f38/extra-packages
Due: none

Add new packages to Fedora 38
  images/fedora/f38/extra-packages
Due: none

feat: allow custom hostnames for new containers
  src/cmd/create.go
  src/cmd/run.go
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test: add tests for `toolbox create --hostname ??`
  test/system/101-create.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

images: add `findutils` and `sudo` to missing docs for f36+
  images/fedora/f36/missing-docs
  images/fedora/f37/missing-docs
Due: none

Add findutils and sudo to missing docs for image f38
  images/fedora/f38/missing-docs
Due: none

doc: cover new `toolbox create --hostname` flag
  doc/toolbox-create.1.md
  src/cmd/create.go
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

build: Rename variables for consistency and ease of grepping
  completion/meson.build
  meson.build
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

build: Remove unused variables
  completion/meson.build
Due: none

build: Fix indentation
  completion/meson.build
Due: none

Add corrections to avoid duplicate packages
  images/fedora/f37/Containerfile
  images/fedora/f37/extra-packages
  images/fedora/f38/Containerfile
  images/fedora/f38/extra-packages
Due: none

build: Enable changing the completion paths & drop install_completions
  completion/meson.build
  meson.build
  meson_options.txt
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

build: Style fixes
  completion/meson.build
Due: none

build: Skip a needless failure when running systemd-tmpfiles as non-root
  meson_post_install.py
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

build: Replace join_paths with the / operator
  data/config/meson.build
  doc/meson.build
  meson.build
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

playbooks: Use the same commands as mentioned in the documentation
  playbooks/build.yaml
  playbooks/setup-env.yaml
  playbooks/unit-test.yaml
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

doc/toolbox-run: Tweak the wording for consistency
  doc/toolbox-run.1.md
Due: none

cmd/list, cmd/run: Consolidate the dependencies for the IsTerminal() API
  src/cmd/list.go
  src/cmd/run.go
  src/go.mod
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Tweak
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

cmd/run: Fix the name of the shell for running commands in containers
  src/cmd/run.go
  test/system/104-run.bats
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

cmd/run: Split out the code to construct the arguments to capsh(1)
  src/cmd/run.go
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

cmd/run: Ensure that 'run' has the same container environment as 'enter'
  src/cmd/run.go
  test/system/104-run.bats
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

Fix spelling errors caught by `codespell`
  CONTRIBUTING.md
  doc/toolbox-rm.1.md
  doc/toolbox-rmi.1.md
  src/cmd/completion.go
  src/cmd/initContainer.go
  test/system/105-enter.bats
  test/system/libs/helpers.bash
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Group the test cases somewhat logically
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Ensure that $HOME is used as a fallback working directory
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

cmd/run: Style fixes
  src/cmd/run.go
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

cmd/run: Don't check the stdin and stdout in a loop in the fallback case
  src/cmd/run.go
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

cmd/run: Suppress errors from Podman when interactive and not verbose
  src/cmd/run.go
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Remove workaround for carriage return without a terminal
  test/system/104-run.bats
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Unify error handling and properly catch image caching errors
  test/system/000-setup.bats
  test/system/libs/helpers.bash
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

test/system: Assert os-release values and its presence
  test/system/000-setup.bats
  test/system/101-create.bats
  test/system/103-container.bats
  test/system/104-run.bats
  test/system/105-enter.bats
  test/system/libs/helpers.bash
Due: system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

Support leaking additional file descriptors to the container
  doc/toolbox-run.1.md
  src/cmd/enter.go
  src/cmd/rootMigrationPath.go
  src/cmd/run.go
Due: unit-test, system-test-fedora-35, system-test-fedora-rawhide, system-test-fedora-36

Path conditions:
  unit-test: any of: playbooks/*, src/*, meson.build, meson_options.txt, meson_post_install.py, .zuul.yaml
  system-test-fedora-35: any of: data/*, playbooks/*, profile.d/*, src/*, test/*, meson.build, meson_options.txt, meson_post_install.py, .zuul.yaml
  system-test-fedora-rawhide: any of: data/*, playbooks/*, profile.d/*, src/*, test/*, meson.build, meson_options.txt, meson_post_install.py, .zuul.yaml
  system-test-fedora-36: any of: data/*, playbooks/*, profile.d/*, src/*, test/*, meson.build, meson_options.txt, meson_post_install.py, .zuul.yaml
